@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --primary-bg: #d8f3dc;  
    --secondary-bg: #95D5B2;  
    --highlight-bg: #74C69D;  
    --text-color: #081C15;  
    --text-highlight: #40916C;  
    --text-hover: #2D6A4F;  
    --text-active: #1B4332;  
    --border-color: #081C15;  
    --border-hover: #081C15;  
    --scrollbar-thumb: rgba(131, 127, 127, 0.8);
    --scrollbar-thumb-inactive: rgba(233, 233, 233, 0.4);
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sos-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.sos-button:hover {
    background-color: darkred;
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbar-thumb);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: var(--scrollbar-thumb-inactive);
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #ddd;
}



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid var(--text-highlight);
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


nav {
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo .text{
    font-size: 20px;
    margin-left: 30px;
}

/* .text {
    background: linear-gradient(139deg, rgb(151, 223, 233) 22%, var(--text-color) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
} */

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
}
.nav-links a:hover {
    color: var(--text-hover);
    cursor: pointer;
}
.nav-links a:active {
    color: var(--text-active);
}

#login-button, #loc-btn {
    background-color: var(--highlight-bg);
    border-radius: 6px;
    color: var(--text-color);
    border: 0;
    padding: 8px 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.05rem;
}
#login-button:hover, #loc-btn:hover {
    background-color: var(--text-hover);
    cursor: pointer;
    color:#B7E4C7
}

#profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    
    transition: transform 0.7s ease;
    margin-right: 40px;
}

#profile-pic:hover {
    border: 1px solid var(--text-color);
}


.hamburger-menu {
    display: none;
}
@media screen and (max-width: 1024px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        background-color: var(--secondary-bg);
        border-bottom: #3498db;
        padding: 30px;
        gap: 25px;
       
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links a {
        padding: 10px;
        text-align: center;
    }
    .hamburger-menu {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: var(--text-color);
        margin: 4px 0;
    }
}


#hero {
    margin-top: 80px;
    background: var(--primary-bg);
    border-bottom: solid var(--secondary-bg) 2px;
}
.hero {
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    text-align: center;
    padding: 80px 20px;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}
.hero .btn {
    display: inline-block;
    background-color: var(--highlight-bg);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.hero .btn:hover {
    background-color: hwb(204 16% 27%);
}
/* #hero-head, h1 {
    background: linear-gradient(139deg, rgba(255,255,255,1) 22%, rgba(41,128,185,1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


#articles {
    background: var(--secondary-bg);
}


#clubs {
    width: 250px;
}
#mega-clubs {
    display: flex;
    justify-content: space-between;
}
.mega-gal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    margin: 0 auto;
}
.gallery {
    margin: 5px;
    border: 1px solid var(--border-color);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.gallery:hover {
    border: 1px solid var(--border-hover);
    transform: scale(1.02);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}
.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: opacity(0.3);
}
.gallery .text {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 5px;
    justify-content: space-around;
    align-items: center;
}
.reg {
    text-align: right;
}
@media screen and (max-width: 1024px) {
    .mega-gal {
        flex-direction: column;
        gap: 40px;
    }
}


footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    z-index: 999;
}


#gallery {
    background: var(--primary-bg);
}


#accordion{
    background-color: var(--primary-bg);
}
.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 20px auto;
    padding: 0 50px;
    transition: 0.2s ease-in-out;
}
.accordion-item {
    margin-top: 16px;
    border: 0.5px solid #4c4b4b;
    border-radius: 6px;
    background: var(--secondary-bg);
}
.accordion-item .accordion-item-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    font-size: 15px;
    cursor: pointer;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: var(--text-color);
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    transition: max-height 0.3s ease;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-title .icon:after {
    content: "-";
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}
@media screen and (max-width: 1240px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 2rem;
    }
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #1b4332;
    margin-top: 30px;
    margin-bottom: 0;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #081c15;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ecec;
    margin: 20px;
    border-radius: 5%;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5% 5% 0 0;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #40916c;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #081c15;
    text-decoration: none;
}

.blog-text .blog-title:hover {
    color: #2d6a4f;
    transition: all ease 0.3s;
}

.blog-text p {
    color: rgb(99, 99, 99);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a {
    color: #081c15;
    text-decoration: none;
}

.blog-text a:hover {
    color: #2d6a4f;
    transition: all ease 0.3s;
}

@media (max-width: 1250px) {
    .blog-box {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .blog-box {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20px;
    }
}
#donate-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh; 
    padding: 0;
    background-color: var(--secondary-bg); 
    box-sizing: border-box;
}

#left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    box-sizing: border-box;
}

#right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    box-sizing: border-box;
    margin-right: 50px;
}

#donate-image {
    width: 100%;
    height: auto;
    max-width: 600px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#text-box {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

#button-group {
    display: flex;
    gap: 20px; 
    justify-content: center;
    width: 100%;
}

#register-button, #volunteer-button {
    padding: 12px 24px; 
    font-size: 1rem;
    color: #FFF;
    background-color: var(--text-active); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#register-button:hover, #volunteer-button:hover {
    background-color: var(--text-hover); 
}


@media (max-width: 768px) {
    #donate-section {
        flex-direction: column;
        padding: 20px;
    }

    #left-column, #right-column {
        flex: none;
        width: 100%;
        padding: 20px;
    }

    #button-group {
        flex-direction: column;
        gap: 10px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -10px; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; 
}

button[type="submit"]:hover {
    background-color: #45A049;
}

#container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #95d5b2;
    padding: 70px 0;
    z-index: 1;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #081c15;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2d6a4f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #081c15;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #1b4332;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #081c15;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: aliceblue;
  }
  
  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  